@import '~@fluentui/react/dist/sass/References.scss';

.dashBoard {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
.searchContainer {
  float: right;
  width: 45%;
  margin-top: 10px;
}
.Header{
  width: 100%;
  background-color: #1976d2;
  height: 30px;
}
.popup{
  background-color: #1976d2;
  margin: 0px 2px 2px 2px;
  height: 45px;
}